@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}


.top-main-logo {
    font-size: 16px;
    font-weight: 700;
}

.top-main {
    padding: 10px;
}

.top-main-btn {
    background-color: #82b53f;
    border: 1px solid #82b53f;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 5px 21px;
    border-radius: 5px;
    transition: 0.5s;
}

.top-main-btn:hover {
    transform: scale(1.1);
}

.section-one {
    background-image: url(https://images.unsplash.com/photo-1519143468229-4cde34927323?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvdGVsJTIwbmlnaHR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 21px 0px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

.middle-one {
    font-family: "Sevillana", serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}


.nav-hamburger {
    border: 1px solid #ffffff75;
    padding: 5px 0;
    background-color: #a19c9c42;
    color: #fff;
    border-radius: 20rem;
}

.side-bar {
    padding: 20px;
    cursor: pointer;
    transition: 0.6s;
    color: #fff;
}

.side-bar:hover {
    transform: scale(1.10);
    text-decoration: underline;

}

#side-bar-main {
    background-color: #212529;
}

.nav-button {
    padding: 16px 34px;
    border: 1px solid #ffffff75;
    background-color: #a19c9c42;
    color: #fff;
    border-radius: 20rem;
    font-size: 13px;
    margin-left: 22px;
}

#middle-logo {
    color: #fff;

}

.middle-banner-1 {
    text-align: center;
}

.middle-content h1 {
    padding-top: 3rem;
    line-height: 1.6;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 450;
}

.middle-content p {
    margin: 0 8px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 200;
}

.middle-content-btn {
    padding: 16px 34px;
    border: 1px solid #ffffff4d;
    background-color: #89020073;
    font-size: 13px;
    color: #fff;
    border-radius: 20rem;
    cursor: pointer;
    transition: 0.5s;
}

#middle-btn {
    margin-top: 3rem;
}

#middle-btn:hover {
    transform: scale(1.05);
}

.toggle {
    padding-top: 7rem;
    position: relative;
}


.tb-top-text {
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
}

.tb-larg h5 {
    font-size: 3.4rem;
    color: #000000;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 0px;
}

.anchor {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding-right: 5px;
}

.tb-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
}

.tb-bordr {
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 47vw;
    height: 100%;
}

.tb-last-column-1 {
    text-align: start;
    letter-spacing: 0px;
    font-size: 9px;
    line-height: 1.6;
    padding: 20px;
}

.tb-last-column-1 p {
    font-size: 11px;
    font-weight: 500;
    margin: 0px;
    color: #4b4e52;
}

.tb-last-column-1 span {
    font-size: 13px;
    font-weight: 800;

}

.tb-last-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .top-corner-logo {
    position: absolute;
    top: 83px;
    right: 23rem;
    background-color: #800000;
    border: 1px solid #800000;
    color: #fff;
    border-radius: 0rem 20rem 0rem 20rem;
    padding: 20px 57px;
} */

.top-corner-logo h1 {
    font-size: 20px;
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
}

.section-2 {
    width: 100%;
    height: 100%;
    background-color: #f9eddd;
}

.michelin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}


.michelin-1 {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20rem;
    padding: 15px;
    width: 224px;
    height: auto;
}

.michelin-2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiKKXf-Sz6CQ-_bT-_QCs_88_yT71A1po0gg&s);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20rem;
    width: auto;
    height: auto;
    padding: 15px;
}

.mc-img2 {
    padding: 15rem 9rem;
    border-radius: 20rem;
    border: 1px solid #ffffff8c;
}
.mc-main {
    text-align: center;
    padding: 90px 0px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 20rem;

}

.mc-text h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.mc-text p {
    font-size: 13px;
    font-weight: 500;
    color: #817878c4;
    line-height: 1.3;
}



@media only screen and (max-width: 1210px) {
    .nav-item {
        display: none;
    }

    .tb-bordr {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 520px) {
    .nav-button {
        padding: 13px 19px;
        margin-left: 3px;
        font-size: 9px;
    }

    .nav-hamburger {
        border: none;
        background-color: transparent;
    }

    .tb-list-item {
        justify-content: space-evenly;
        column-gap: 8px;
    }

}