@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}


.top-main-logo {
    font-size: 16px;
    font-weight: 700;
}

.top-main {
    padding: 10px;
}

.top-main-btn {
    background-color: #82b53f;
    border: 1px solid #82b53f;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 5px 21px;
    border-radius: 5px;
    transition: 0.5s;
}

.top-main-btn:hover {
    transform: scale(1.1);
}

.section-one {
    background-image: url(https://images.unsplash.com/photo-1519143468229-4cde34927323?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvdGVsJTIwbmlnaHR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 21px 0px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

.middle-one {
    font-family: "Sevillana", serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}


.nav-hamburger {
    border: 1px solid #ffffff75;
    padding: 5px 0;
    background-color: #a19c9c42;
    color: #fff;
    border-radius: 20rem;
}

.side-bar {
    padding: 20px;
    cursor: pointer;
    transition: 0.6s;
    color: #fff;
}

.side-bar:hover {
    transform: scale(1.10);
    text-decoration: underline;

}

#side-bar-main {
    background-color: #212529;
}

.nav-button {
    padding: 16px 34px;
    border: 1px solid #ffffff75;
    background-color: #a19c9c42;
    color: #fff;
    border-radius: 20rem;
    font-size: 13px;
    margin-left: 22px;
}

#middle-logo {
    color: #fff;

}

.middle-banner-1 {
    text-align: center;
}

.middle-content h1 {
    padding-top: 3rem;
    line-height: 1.6;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 450;
}

.middle-content p {
    margin: 0 10px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 200;
}

.middle-content-btn {
    padding: 16px 34px;
    border: 1px solid #ffffff4d;
    background-color: #89020073;
    font-size: 13px;
    color: #fff;
    border-radius: 20rem;
    cursor: pointer;
    transition: 0.5s;
}

#middle-btn {
    margin-top: 3rem;
}

#middle-btn:hover {
    transform: scale(1.05);
}

.toggle {
    padding-top: 7rem;
    position: relative;
}

.tb-top-text {
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
}

.tb-larg h5 {
    font-size: 3.4rem;
    color: #000000;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 0px;
}

.anchor {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding-right: 5px;
}

.tb-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
}

.tb-bordr {
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 47vw;
    height: 100%;
}

.tb-last-column-1 {
    text-align: start;
    letter-spacing: 0px;
    font-size: 9px;
    line-height: 1.6;
    padding: 20px;
}

.tb-last-column-1 p {
    font-size: 11px;
    font-weight: 500;
    margin: 0px;
    color: #4b4e52;
}

.tb-last-column-1 span {
    font-size: 13px;
    font-weight: 800;

}

.tb-last-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top-corner-logo h1 {
    font-size: 20px;
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
}

.section-2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f9eddd;
}

.michelin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
}


.michelin-1 {
    background-color: #ffffff;
    border: 1px solid #f9eddd;
    border-radius: 20rem;
    padding: 15px;
    width: 224px;
    height: auto;
}

.michelin-2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiKKXf-Sz6CQ-_bT-_QCs_88_yT71A1po0gg&s);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20rem;
    width: auto;
    height: auto;
    padding: 15px;
}

.mc-img2 {
    padding: 15rem 9rem;
    border-radius: 20rem;
    border: 1px solid #ffffff8c;
}

.mc-main {
    text-align: center;
    padding: 90px 0px;
    border: 1px solid #c4bbbbc4;
    border-radius: 20rem;

}

.mc-text h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.mc-text p {
    font-size: 13px;
    font-weight: 500;
    color: #817878c4;
    line-height: 1.3;
}

.ex-center {
    text-align: center;
}

.experiences-section {
    padding-bottom: 4rem;
}

.ex-center h2 {
    text-align: center;
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
}

.ex-center-2 {
    text-align: center;
}

.ex-center-2 h1 {
    text-transform: uppercase;
}

.ex-center-2 button {
    padding: 8px 40px;
    background-color: rgb(124 46 26);
    border: 2px solid rgb(124 46 26);
    color: #fff;
    border-radius: 40px;
    font-size: 13px;
    letter-spacing: 1px;
}

.ex-side-img {
    background-image: url(/sketch-cooks-working-kitchen_647246-2203-ezgif.com-avif-to-jpg-converter-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 38rem;
    filter: opacity(30%);
    width: 30%;
    padding: 188px;
}

.ex-side-img2 {
    background-image: url(/download__1_-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 38rem;
    filter: opacity(30%);
    width: 30%;
    padding: 188px;
}

.section-3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0%;
    background-color: #000000;
}

.left-content-s3 {
    padding-top: 10px;
    text-align: center;
    width: 34%;
    height: 42.4rem;
    background-image: url(/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-content-s3 h2 {
    text-align: center;
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
}

.left-content-s3 h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    word-spacing: 3px;
}

.s3-mid-content {
    display: flex;
    width: 66%;
    flex-wrap: wrap;
    height: inherit;
}

.first-txt h1 {
    font-family: "Sevillana", serif;
    margin: 0;
    width: 200px;
    height: 226px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #4b4e525d;
    /* border-bottom: 1px solid #4b4e52a9; */
    align-items: start;
    padding-top: 2.4rem;
    flex-wrap: wrap;
    color: #fff;
}

.seacand-txt {
    border-bottom: 1px solid #4b4e525d;
    border-right: 1px solid #4b4e525d;
    /* border-bottom: 1px solid #4b4e52a9; */
    padding-top: 2.4rem;
    color: #fff;
    width: 54%;
    height: 226px;
}

.seacand-txt h2 {
    text-transform: uppercase;
    word-spacing: 5px;
}

.seacand-txt p {
    color: #ffffffe0;
    font-size: 14px;
    word-spacing: 1px;
    line-height: 1.4;
}

.third-txt {
    padding: 31px 0px 0px 75px;
    border-bottom: 1px solid #4b4e525d;
    width: 26.8%;
}

.third-txt img {
    border-radius: 80px 80px 17px 17px;
}

.third-txt-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK6i0F0e9wCb44nCLY_7NsSU82MXeOHiBpnw&s);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 62px;
    border-radius: 80px 80px 17px 17px;
    width: 52px;
}

.third-txt-img2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3SwCzffTeuRcx9IgApy0iRh7uv635XKayvA&s);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 62px;
    border-radius: 80px 80px 17px 17px;
    width: 52px;
}

.third-txt-img3 {
    background-image: url(https://axwwgrkdco.cloudimg.io/v7/__gmpics3__/b46589f1c87c4c7a863d8df85f1f1b68.jpeg?w=600&h=600&org_if_sml=1);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 62px;
    border-radius: 80px 80px 17px 17px;
    width: 52px;
}

.section-4 {
    padding-bottom: 3rem;
    width: 100%;
    height: 100%;
    background-color: #f9eddd;
}

.s4-top-content-1 {
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.s4-top-content-1 h1 {
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
}

.s4-top-content-1 h2 {
    font-size: 15px;
    line-height: 4;
    text-transform: uppercase;
}

.s4-seasons {
    margin: 45px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.s4-season-1 {
    text-align: center;
    width: 300px;
}

.s4-season-1-image {
    border-radius: 20px;
    background-image: url(/download\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 342px;
    width: 290px;

}

.s4-season-1-image2 {
    border-radius: 35rem 35rem 80px 80px;
    background-image: url(/download\ secand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 342px;
    width: 290px;

}

.s4-season-1-image3 {
    border-radius: 20px;
    background-image: url(/download\ 3rd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 342px;
    width: 290px;

}

.s4-text-1 h2 {
    font-weight: 400;
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

.s4-text-1 h3 {
    text-align: center;
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

.s4-text-2 p {
    font-size: 11px;
    padding: 0 46px;
    color: #534c4c;
}

.section-5 {
    width: 100%;
    height: auto;
    background-color: #42241c;
}

.s5-content-top {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 4rem;
}

.s5-content1 h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 3;
    color: #fff;
    font-family: "Sevillana", serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal
}

.s5-content2 h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 400;
    word-spacing: 5px;
    line-height: 1;
    color: #dedede;

}

.s5-1st-list-bar {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.s5-1st-list-bar-img {

    width: 26%;
    height: 19%;
    padding: 17rem 0rem;
    background-image: url(/jpaggg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14rem 14rem 1rem 1rem;
}

.s5-1st-list-bar-img2 {

    width: 26%;
    height: 19%;
    padding: 17rem 0rem;
    background-image: url(/0202.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14rem 14rem 1rem 1rem;
}

.s5-1st-list-bar-img3 {

    width: 26%;
    height: 19%;
    padding: 17rem 0rem;
    background-image: url(/0101.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14rem 14rem 1rem 1rem;
}

.s5-1st-list-content {
    color: #fff;
}

.list h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.list span {
    color: #a0695a70;
    font-size: 15px;
    font-weight: 300;
}

.list p {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 2;
    font-weight: 400;
}

.section-6 {
    width: 100%;
    height: 100%;
    background-color: #f9eddd;
}

.s6-content {
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.meatchefp {
    text-align: center;
}

.meatchefp h3 {
    font-size: 18px;
    font-family: "Sevillana", serif;
    color: #800000;
    font-weight: 400;
    font-style: normal;
}

.meatchefp h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.meatchefp p {
    width: 388px;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    color: #726464;
    line-height: 19px;
}

.meatchefp-img {
    position: relative;
    width: 388px;
    height: 14%;
    padding: 16rem 0rem;
    background-image: url(/section-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14rem 14rem 1rem 1rem;
}

.meatchefp-right img {
    width: 200px;
    height: 220px;
    position: absolute;
    right: -98px;
    bottom: 50px;
    border-radius: 20px;
}


.s6-content-2 {
    width: 100%;
    height: 560px;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSCPrLEaEaz7T8Raf1MXbUm8WwCKXKO-YSIXnHNg-qyAaEJOGf);
    background-repeat: no-repeat;
    background-size: cover;

}

.s6-content-02 {
    width: 100%;
    height: 260px;
}

.s6-content-contactus {
    margin: 0 auto;
    margin-top: -18rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 890px;
    height: 585px;
    padding: 20px;
    z-index: 8;
}

.contactus {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 1rem;
    padding: 40px;
}

.contactus-top-text {
    text-align: center;
}

.contactus-top-text h3 {
    margin: 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 3;
    color: #800000;
    font-family: "Sevillana", serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.contactus-top-text h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 1;
    color: #000000;
}

.contactus-inputs {
    text-align: center;
}

.inputs-1 input {
    margin: 5px;
    width: 335px;
    height: 41px;
    padding: 0 0 0 34px;
    font-size: 1em;
    border: 1px solid #2422223b;
    border-radius: 3rem;
}

.inputs-2 input {
    width: 220px;
    margin: 5px;
    /* height: 43px; */
    /* width: 335px; */
    height: 41px;
    padding: 0 0 0 34px;
    font-size: 1em;
    border: 1px solid #2422223b;
    border-radius: 7rem;
}

.inputs-3 textarea {
    width: 683px;
    height: 119px;
    padding: 15px 0 0 34px;
    font-size: 1em;
    border: 1px solid #2422223b;
    border-radius: 1rem;
    margin: 10px;
}

.input-btn button {
    width: 683px;
    height: 40px;
    border-radius: 3rem;
    border: 1px solid #800000;
    background-color: #800000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.journey-1 {
    width: 100%;
    text-align: center;
}

.journey-1 h2 {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 0px;
    padding: 0px;
    font-weight: 400;
    color: black;
}

.journey-1 img {
    border-radius: 3rem;
    margin: 0rem 1rem 2rem 1rem;
}

.s6-dish-journey {
    margin-top: 2rem;
    padding: 20px;
}

.s6-content-contactus {
    height: auto;
}


@media only screen and (max-width: 1580px) {
    .first-txt h1 span {
        width: 140px;
    }

    .s4-top-content-1 h1 {
        margin: 0px 10px;
    }
}

.all-item img {
    width: 100%;
    height: 100%;
}

.description-awebani {
    width: 200px;
}

.description-awebani img {
    width: 200px;
}

.description-awebani p {
    margin-left: 23px;
    font-size: 13px;
    font-weight: 400;
    color: #726464;
    line-height: 19px;
}


.description-awebani h1 {
    color: #800000;
    margin-left: 23px;
    font-family: "Sevillana", serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
}

.footer-contactus {
    width: 200px;
}

.footer-contactus h1 {
    font-size: 1rem;
    color: hwb(0 0% 100%);
    text-transform: uppercase;
}

.footer-contactus p {
    font-size: 13px;
    font-weight: 400;
    color: #726464;
    line-height: 19px;
}

.footer-contactus h4 {
    font-size: 0.9rem;
    color: #800000;
    cursor: pointer;
}

.usefull-links {
    width: 200px;
}

.usefull-links p {
    font-size: 13px;
    font-weight: 400;
    color: #726464;
    line-height: 7px;
}

.usefull-links h1 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: hwb(0 0% 100%);
    text-transform: uppercase;
}

.ournews-letter {
    width: 300px;
    height: 160px;
}

.ournews-letter h1 {
    margin-bottom: 1.4rem;
    font-size: 1rem;
    color: hwb(0 0% 100%);
    text-transform: uppercase;
}

.ournews-letter p {
    font-size: 13px;
    font-weight: 400;
    color: #726464;

}

.ournews-letter input {
    border: 1px solid rgba(0, 0, 0, 0.199);
    background: transparent;
    width: 250px;
    height: 39px;
    margin: 10px 0;
    border-radius: 3rem;
    padding: 0 22px;
}


.ournews-letter button {
    padding: 6px 28px;
    border-radius: 3rem;
    background-color: #800000;
    border: 1px solid #800000;
    color: #fff;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    align-items: center;
    flex-wrap: wrap;
}
.about-web{
    border-top: 1px solid #21252941;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.about-web p{
    margin: 0px;
    font-size: 13px;
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    color: #726464;
}

@media only screen and (max-width: 1210px) {
    .nav-item {
        display: none;
    }

    .tb-bordr {
        width: 100%;
        height: auto;
    }

    .ex-side-img {
        display: none;
    }

    .section-one {
        padding-bottom: 10px;
    }

    .left-content-s3 {
        width: 100%;
        height: inherit;
    }

    .s3-mid-content {
        text-align: center;
        width: 100%;
        display: block;
    }

    .first-txt h1 {
        width: 100%;
        height: 100%;
        border: none;
    }

    .seacand-txt {
        padding: 0 10px;
        width: 100%;
        height: 100%;

    }

    .third-txt {
        padding: 22px 0px 29px 0px;
        width: 100%;
        height: 100%;
    }

    .third-txt-img {
        margin: 0 auto;
    }

    .third-txt-img2 {
        margin: 0 auto;
    }

    .third-txt-img3 {
        margin: 0 auto;
    }

    .seacand-txt {
        border: none;
    }

    .s5-1st-list-bar-img {
        margin: 0 auto;
        width: 382px;
        padding: 15rem 0rem
    }

    .s5-1st-list-bar-img2 {
        margin: 0 auto;
        width: 382px;
        padding: 15rem 0rem
    }

    .s5-1st-list-bar-img3 {
        margin: 0 auto;
        width: 382px;
        padding: 15rem 0rem
    }

    .s5-1st-list-bar {
        display: block;
    }

    .s5-1st-list-content {
        text-align: center;
    }

    .meatchefp-right img {
        display: none;
    }

    .michelin {
        justify-content: center;
    }

    .s6-content {
        gap: 5px;
    }

    .contactus {
        width: 100%;
        height: auto;
    }

    .inputs-3 textarea {
        width: auto;
    }

    .inputs-1 input {
        width: 100%;
    }

    body input {
        display: block;
    }

    .inputs-2 input {
        width: 100%;
    }

    .inputs-3 textarea {
        width: 100%;
    }

    .input-btn button {
        width: 100%;
    }

    .s6-content-contactus {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 520px) {
    .nav-button {
        padding: 13px 19px;
        margin-left: 3px;
        font-size: 9px;
    }

    .nav-hamburger {
        border: none;
        background-color: transparent;
    }

    .tb-list-item {
        justify-content: space-evenly;
        column-gap: 8px;
    }

    .section-one {
        padding-bottom: 0px;
    }

    .list span {
        font-size: 4px;
    }

    .s5-1st-list-bar-img {
        width: 83%;
        height: 289px;
        padding: 14px;
    }

    .s5-1st-list-bar-img2 {
        width: 83%;
        height: 289px;
        padding: 14px;
    }

    .s5-1st-list-bar-img3 {
        width: 83%;
        height: 289px;
        padding: 14px;
    }

    .meatchefp-img {
        width: 83%;
        height: 289px;
        padding: 14px;
    }

    .contactus {
        width: 100%;
    }

    .inputs-3 textarea {
        width: auto;
    }

    .inputs-1 input {
        width: 100%;
    }

    body input {
        display: block;
    }

    .inputs-2 input {
        width: 100%;
    }

    .inputs-3 textarea {
        width: 100%;
    }

    .input-btn button {
        width: 100%;
    }

}